* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.black-background {
  background-color: #1c1c1c;
}

.top-header {
  padding: 2px 0;
  width: 100%;
  background-color: #1882f9;
}

.top-header .top-text-container {
  text-align: right;
}

.top-header .top-text-container span {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.top-header .top-text-container span:first-child {
  margin-right: 40px;
}

.nav-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-logo-container .logo img {
  width: 70%;
}

.nav-logo-container .nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.nav-logo-container .nav-list li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.jumbotron {
  height: 280px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
}

.comics-section {
  padding: 30px 0;
}

.comics-section .section-title {
  display: inline-block;
  background-color: #1882f9;
  padding: 8px 20px;
  position: relative;
  top: -50px;
  left: 0;
}

.comics-section .section-title h3 {
  color: white;
}

.comics-section .comics-container {
  display: flex;
  flex-wrap: wrap;
}

.comics-section .comics-container .single-comic {
  width: calc(100% / 6);
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.comics-section .comics-container .single-comic img {
  width: 100%;
}

.comics-section .comics-container .single-comic h5 {
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
}

.comics-section .button-container {
  text-align: center;
}

.comics-section .button-container .load-more {
  display: inline-block;
  background-color: #1882f9;
  color: white;
  padding: 8px 40px;
  text-transform: uppercase;
  font-size: 12px;
}

.services-list {
  background-color: #1882f9;
}

.services-list .services-images-container {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-list .services-images-container .image-container {
  margin-right: 20px;
}

.services-list .services-images-container .image-container img {
  width: 40px;
  vertical-align: middle;
}

.services-list .services-images-container .image-container span {
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
  font-size: 13px;
}

.blue-stripe {
  height: 60px;
  background-color: #1882f9;
}

.comic-details-container {
  width: 70%;
  margin: auto;
  position: relative;
}

.comic-details-container .comic-poster {
  width: 18%;
  position: absolute;
  top: -260px;
  left: 0;
}

.comic-details-container .comic-poster img {
  width: 100%;
}

.comic-details-container .details-wrapper {
  display: flex;
  justify-content: space-between;
}

.comic-details-container .details-wrapper .details {
  width: 65%;
}

.comic-details-container .details-wrapper .details .comic-title {
  padding-top: 70px;
}

.comic-details-container .details-wrapper .details .comic-title h2 {
  text-transform: uppercase;
  color: #073f5e;
}

.comic-details-container .details-wrapper .details .price-box {
  background-color: #55ba59;
  margin-top: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.comic-details-container .details-wrapper .details .price-box .price span {
  color: #b0fd9c;
}

.comic-details-container .details-wrapper .details .price-box .price .total {
  color: white;
}

.comic-details-container .details-wrapper .details .price-box .availability span {
  text-transform: uppercase;
  color: #b0fd9c;
}

.comic-details-container .details-wrapper .details .price-box .check-availability {
  color: white;
}

.comic-details-container .details-wrapper .details .description {
  margin-top: 20px;
}

.comic-details-container .details-wrapper .advertise {
  width: 30%;
  margin-top: 75px;
}

