// comics list 
.comics-section {
    padding: 30px 0;
    
    // section-title
    .section-title {
        display: inline-block;
        background-color: $brand_primary_color;
        padding: 8px 20px;
        position: relative;
        top: -50px;
        left: 0;

        h3 {
            color: white;
        }
    }
    // end section-title

    // comics
    .comics-container {
        display: flex;
        flex-wrap: wrap;

        .single-comic {
            width: calc(100% / 6);
            padding: 10px;
            margin-bottom: 20px;
            text-align: left;

            img {
                width: 100%;
            }

            h5 {
                margin-top: 10px;
                color: white;
                text-transform: uppercase;
            }
        }
    }
    // end comics 
    
    // button more
    .button-container {
        text-align: center;
        
        .load-more {
            display: inline-block;
            background-color: $brand_primary_color;
            color: white;
            padding: 8px 40px;
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    
    // end button more 
}
// end comics list 

// services
.services-list {
    background-color: $brand_primary_color;

    .services-images-container {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image-container {
            margin-right: 20px;

            img {
                width: 40px;
                vertical-align: middle;
            }

            span {
                text-transform: uppercase;
                color: white;
                margin-left: 10px;
                font-size: 13px;
            }
        }
    }
}
// end services

.blue-stripe {
    height: 60px;
    background-color: $brand_primary_color;
}

// comic-details
.comic-details-container {
    width: 70%;
    margin: auto;
    position: relative;

    // poster 
    .comic-poster {
        width: 18%;
        position: absolute;
        top: -260px;
        left: 0;

        img {
            width: 100%;
        }
    }
    // end poster

    .details-wrapper {
        display: flex;
        justify-content: space-between;

        .details {
            width: 65%;
            // title 
            .comic-title {
                padding-top: 70px;
            
                h2 {
                    text-transform: uppercase;
                    color: $comic_title_color;
                }
            }
            // end title

            // price box
            .price-box {
                background-color: #55ba59;
                margin-top: 20px;
                padding: 15px;
                display: flex;
                justify-content: space-between;

                .price {
                    span {
                        color: #b0fd9c;
                    }
                    .total {
                        color: white;
                    }
                }

                .availability {
                    span {
                        text-transform: uppercase;
                        color: #b0fd9c;
                    }
                }

                .check-availability {
                    color: white;
                }
            }
            // end price box

            .description {
                margin-top: 20px;
            }
        }

        .advertise {
            width: 30%;
            margin-top: 75px;
        }

    }
    
    
}
// end comic-details 